doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   .container
     img.logo(src='/images/dark-shadows.jpg')
     nav
      ul
       li
        a(href='/') Home
       li
        a(href='/posts/add') Add Post
       li
        a(href='/categories/add') Add Category
       li
        a(href='/about') About Us
       li
        a(href='/contact') Contact Us
     h1 Hi There. I hope you doing well.
     p This Anonymous Blog has been built to share knowledge with no need to identify your identity. Even in our database we don't have any link to reach you. 
     p The concept of anonymity has always held a special enchantment for some people, and, for others it is purely practical. Whatever your blog topic, there are a five strong reasons to blog anonymously.
     h3 No pressure
     p If no one knows the “real you,” then they can’t tell you, in person, any thoughts they have on your blog. This means that no one will be able to make fun of, disagree strongly with, or ask to be featured on (using peer pressure) your blog. If your blog is a total flop, you won’t be publicly embarrassed.
     p While I wouldn’t advise disregarding your manners and morals, you don’t have to worry about close acquaintances or family members being offended by your posts.
     h3 A fresh start
     p Creating an anonymous identity also allows you to create a new character, if you so choose. Let’s say you are working full-time as an auto mechanic, but you are trying to create a blog on entrepreneurship. Your readers might not think you could be an authority on this subject as an auto mechanic, but an anonymous identity removes this doubt.
     p Instead, you could create a back-story to fit your blog; for this case, it could be something about how your latest entrepreneurial project is to build a blog anonymously.
     h3 You’re shy or unsure
     p Were you one of those people who are unwilling to put yourself on a blog for all to see, you should choose to blog anonymously. This way, you can hide behind a fake identity and not worry about what others think (similar to there being no pressure). You could also use anonymity to discover how people will react to your content before associating yourself with your content.
     h3 It’s a gimmick
     p Blogging anonymously might fit your content. For example, if you were to start a blog involving content that you received anonymously. Also, blogging anonymously places a shroud of mystery around the author and limits your personality to how your network and write your blog.
     br
     .line
     footer
      p Anonymous Blog &copy; 2017
